<div class="container image-block">
    <div class="row imgpub">

    </div>
    <div class="offer" style="margin-top: -7%;">
        <h2>OFFRES DU MOMENT</h2>
        
    </div>
</div>
<div class="container listing-image p-0">
    <div class="row">
        <div class="col-md-4 col-6 col-xs-6">
            <div style="position: relative;">
                <img class="w-100" src="assets/static/espV1.png" alt="" >
           
            </div>
            <button class="btn-box">J’en profite</button>
        </div>
        <div class="col-md-4 col-6 col-xs-6">
             <img  class="w-100" src="assets/static/espV2.png" alt="">
        </div>
        <div class="col-md-4 col-6 col-xs-6 ">
            <div style="position: relative;">
                <img class="w-100" src="assets/static/espV1.png" alt="" >
           
            </div>
            <button class="btn-box">J’en profite</button>
        </div>
        <div class="col-md-4 col-6 col-xs-6">
            <div style="position: relative;">
                <img class="w-100" src="assets/static/espV1.png" alt="" >
           
            </div>
            <button class="btn-box">J’en profite</button>
        </div>
        <div class="col-md-4 col-6 col-xs-6">
             <img  class="w-100" src="assets/static/espV2.png" alt="">
        </div>
        <div class="col-md-4 col-6 col-xs-6 ">
            <div style="position: relative;">
                <img class="w-100" src="assets/static/espV1.png" alt="" >
           
            </div>
            <button class="btn-box">J’en profite</button>
        </div>
    </div>
</div>
<div data-aos="zoom-in">
    <div class="happy">
        <img src="assets/static/heureux.png" alt="" class="imgWeb-happy">
        <img src="assets/static/happyM.png" alt="" class="imgmobil-happy">
        <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Un heureux Événement ?</h4>
                <h5>Créer votre liste et partagez-la</h5>
                <h6>en un clic</h6>
            </div>
            <div class="col-6">
                <button class="btn">Découvrir</button>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="offer"  [routerLink]="['/quiz']">
    <h2>VENTE FLASH</h2>
    
</div>
<app-footer></app-footer>