.home {
    width: 100%;
}
.btn {
    font-size: 21px;
    font-family: "SFCOmpact Regular";
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: unset;
    margin-top: 4%;
}
h4,
h5,
p {
    color: #ffffff;
}
.containt {
    margin-bottom: 3%;
    position: relative;
    text-align: center;
}
h5 {
    font-family: "SFCOmpact bold";
    font-size: 60px;
}
h4 {
    font-size: 50px;
    font-family: "SFCOmpact Regular";
}
p {
    font-family: "SFCOmpact Regular";
    font-size: 22px;
    text-align: center;
    margin-bottom: 0;
}
span {
    font-size: 71px;
    font-family: "Freestyle Script";
}
.text-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-block {
    margin-top: 8%;
    h4,
    h5 {
        color: #1a1a1a;
    }
    h4 {
        font-size: 28px;
        font-family: "DIN Bold";
    }
    h5 {
        font-size: 15px;
        font-family: "SFCOmpact Regular";
    }
    .text-containt {
        position: relative;
        top: -50%;
        float: right;
        left: -20%;
    }
    h6 {
        font-family: "Freestyle Script";
        font-size: 30px;
        color: #dc2d4f;
    }
}
.offer {
    h2 {
        font-size: 28px;
        font-family: "DIN Bold";
        color: #1a1a1a;
        text-align: center;
        margin: 2% 0;
    }
}
.profite {    margin-left: 18%;
}
.happy {
    position: relative;
    margin: 3% 0;
    img {
        width: 100%;
    }
    h4 {
        font-size: 35px;
        font-family: "SFCOmpact Medium";
        color: black;
    }
    h5 {
        font-size: 30px;
        font-family: "SFCOmpact Regular";
        color: #000000;
    }
    h6 {
        font-size: 70px;
        color: black;
        font-family: "FreestyleScript";
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn {
        color: #1a1a1a;
        border: 1px solid #1a1a1a;
        margin-top: 13%;
    }
}
.listing-image {
    img {
        height: 250px;
        cursor: pointer;
        margin-bottom: 4%;
     
    }

}
@media screen and (min-width: 768px) {
    .imgmobil-happy {
        display: none;
    }

}
@media screen and (max-width: 1214px) {
    h5 {
        font-size: 30px;
    }
    p {
        font-size: 12px;
    }
    h4 {
        font-size: 30px;
    }
    span {
        font-size: 40px;
    }
    .imgpub {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    h4 {
        font-size: 23px;
    }
    span {
        font-size: 28px;
    }
    .btn,
    .imgpub {
        display: none;
    }
    .imgWeb-happy {
        display: none;
    }
    .listing-image {
        img {
            width: 100%;
            margin-top: 2%;
            height: 185px;
        }
    .a {
        display: none;
    }
    }
        .happy {
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 18px;
        }
        h6 {
            font-size: 30px;
        }
        .btn {
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            font-size: 13px;
            margin-top: 40%;
            display: block;
        }
    }
    .image-block {    margin-top: 12%;}
}
@media screen and (max-width: 430px) {
    .home {
        height: 178px;
    }
    .text-image {
        position: absolute;
        top: 10%;
        left: 0;
        transform: none;
    }
}
.btn-box {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f9f6;
    font-size: 15px;
    background-color: black;
    border: 1px solid black;
    text-transform: uppercase;
    width: 50%;
    padding: 2%;
    margin-bottom: 5%;
}
img {
    width: 100%;
}