h2 {
    color: #ffffff;
  }
  .newsletter-containt {
    background-color: black; height: 100px;
  }
  .newsletter {
    font-size: 24px;
    text-transform: uppercase;
    border-right: 1px solid #ffffff;
    font-family: "Din Bold";
  }
  label {
    color: #7b7c7a;
  }
  input {
    width: 92%;
    padding: 0 6px;
    border-bottom: 0;
    border-right: 1px solid #b2b1b1;
  }
  a {
    top: 7px;
    font-weight: 400;
    font-size: 18px;
    color: #1a1a1a;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "SFCOmpact Regular";
  }
  .newsletter-input {
    height: 42px;
    padding-top: 5px;
  }
  ::placeholder {
    color: #7b7c7a;
    opacity: 1;
    font-size: 15px;
  }
  
  :-ms-input-placeholder {
    color: #7b7c7a;
  }
  
  ::-ms-input-placeholder {
    color: #7b7c7a;
  }
  .create {
    font-size:15px;width: 91%;font-family: SFCOmpact Regular;
  }
  
  @media screen and (max-width: 767px) {
    .newsletter {
      border-right: none;
      text-align: center;
      margin: 0;
      font-size: 20px;
    }
    .newsletter-containt {
      height: 144px;
    }
    .create {
      width: 100%;
    }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .newsletter {
        border-right: none;
        
      } }
    @media screen and (max-width: 575px) {
  
      .input-newsletter {
        width: 90%;
        padding: 0 10%;
      }
      .create {
        width: 100%;
        padding: 0;
        font-size: 10px;
      }
      }
  