<div class="newsletter-containt" data-aos="fade-up">
    <div class="container" style="padding-top: 2%;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h2 class="newsletter">Newsletter</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h2 class="create">Inscrivez-vous et recevez toutes nos nouveautés et promotions!</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-12 input-newsletter" >
                <div class="row" style="background-color: white;">
                    <div class="newsletter-input col-10">
                        <input type="email" name="email" id="email" placeholder="Entrez votre adresse mail">
             
                    </div>
                    <a class="col-1">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-aboutus></app-aboutus>