.img-fluid {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    display: flex;
    align-items: stretch;
}
ul {
    padding: 0;
}
h5 {
    font-size: 15px;
    font-family: "SFCOmpact Semibold";
}
li {
    font-family: "SFCOmpact Regular";
    font-size: 15px;
    line-height: 3;
}
img {
    margin: 5px;
    display: inline;
}
.card {
    width: 11%;
}
img.social {
    width: 13%;
}
::ng-deep.mat-expansion-panel {
    background-color: #c5cac6;
}

@media screen and (max-width: 575px) {
    h5 {
        text-align: center;
    }
    .image-card {
        text-align: center;
    }
    .img-fluid {
        width: 141px;
        height: 27px;
        display: flex;
        align-items: stretch;
    }
    .mobile {
        display: block;
    }
    .web {
        display: none;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .join {
        text-align: center;
    }
    h5 {
        text-align: justify;
    }
    h5.text {
        text-align: center;
    }
}
@media screen and (min-width: 576px) {
    .mobile {
        display: none;
    }
    .web {
        display: block;
    }
}