
<div style="background-color: #c5cac6;padding-bottom: 2%; padding-top: 4%;" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 web">
                <div class="row">
                    <div class="col-4">
                        <h5>NOS SERVICES</h5>
                        <ul class="p-0">
                            <li *ngFor="let service of services">{{service}}</li>
                    </ul>
                    </div>
                    <div class="col-4">
                        <h5>ESPACE INFORMATIONS</h5>
                        <ul class="p-0">
                            <li *ngFor="let espace of espaces">{{espace}}</li>
                    </ul>
                    </div>
                    <div class="col-4">
                        <h5>NOUS CONNAÎTRE</h5>
                        <ul class="p-0">
                            <li *ngFor="let c of connaitres">{{c}}</li>
                    </ul>
                    </div>
                </div>
                <div class="btn-group" dropdown>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-animated">
                        <li  class="dropdown-item" role="menuitem" *ngFor="let service of services">{{service}}</li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else
                        here</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else
                            here</a></li>
                    </ul>
                   
                  </div>
            </div>
            <div class="col-12 mobile">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h5>NOS SERVICES</h5>
                    </mat-expansion-panel-header>
                    <ul class="p-0">
                        <li *ngFor="let service of services">{{service}}</li>
                </ul>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h5>ESPACE INFORMATIONS</h5>
                    </mat-expansion-panel-header>
                    <ul class="p-0">
                        <li *ngFor="let espace of espaces">{{espace}}</li>
                </ul>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h5>NOUS CONNAÎTRE</h5>
                    </mat-expansion-panel-header>
                    <ul class="p-0">
                        <li *ngFor="let c of connaitres">{{c}}</li>
                </ul>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h5>NOUS CONNAÎTRE</h5>
                    </mat-expansion-panel-header>
                    <ul class="p-0">
                        <li *ngFor="let c of connaitres">{{c}}</li>
                </ul>
                  </mat-expansion-panel>
            </div>
            <div class="col-md-4 col-sm-12 join">
            <div style=" margin-bottom: 7%;">
                <h5 class="text">REJOIGNEZ LA COMMUNAUTÉ</h5>

                <div class="text-center center-block">
                    <br />
                    <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                </div>
            </div>
 
            </div>
        </div>
            <div class="col-md-12" style="margin-top: 3%;">
                <a href="">
                    <p style="text-align: center;font-weight: 300;font-size: 12px; text-decoration: none; color: #000000; font-family: SFCOmpact Regular;">
                        <i class="fa fa-copyright" aria-hidden="true"> Copyright 2020 &#169;</i>
                    </p>
                </a>
            </div>
        </div>
</div>