.fixe {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    ::ng-deep.mainmenu_area {
        height: 40px;
        margin-top: -10px;
        background-color: white;
        box-shadow: 0 2px #dad7d7;
    }
    ::ng-deep.container-header {
        height: 70px;
    }
    ::ng-deep.header-menu {
        padding-top: 0;
    }
    ::ng-deep.img-logo {
        margin: 0 auto;
        display: block;
    }
    ::ng-deep.account {
        margin-top: 5%;
    }
    ::ng-deep.logo-hadeen {
        display: unset;
        height: unset;
    }
    ::ng-deep.searchM {
        display: none;
    }
    ::ng-deep.activDrop  {
        transform: translate(-23%, -3%) !important;
    }

}
.fade-in {
    opacity: 1;
    animation-name: easeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes easeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
    from {
        margin-top: -50px;
    }
    to {
        margin-top: 0px;
    }
}
.fade-out {
    opacity: 1;
    animation-name: easeInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;
}

@keyframes easeInOut {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
    from {
        margin-bottom: -50px;
    }
    to {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 767px) and (min-width: 575px) {
    .fixe {
        ::ng-deep.img-logo {
           width: 100%;
        } 
    }
    }