.img-logo {
    margin: auto;
    display: flex;
    align-items: stretch;
    width: 363px;
}
.container-header {
    height: 120px;
}
.header-menu {
    padding-top: 8px;
}
.logo-hadeen {
    display: flex;
    height: auto;
}
.img-fluid {
    width: 10%;
    top: -32px;
    position: relative;
}
input#rechercherM,
input#rechercher {
    width: 100%;
    padding-left: 13%;
    background-color: #c5cac6;
}
label#labelSearch,
label#rechercherM {
    margin-left: 13%;
    font-size: 13px;
}
img {
    cursor: pointer;
}
.account {
    margin-top: 8%;
    p {
        font-size: 13px;
        margin-left: -8px;
        margin-top: 5px;
    }
}
.nav-menu li {
    padding: 0px 50px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "DINPro-Medium";
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-left: 1px solid;
}
.nav-menu li:first-child {
    border-left: none;
}
h4.hello-burger {
    font-size: 16px;
}
.nav-menu {
    padding: 10px;
    margin-top: 8px;
    text-align: center;
}
.mainmenu_area {
    background-color: white;
}
::ng-deep.modal-content {
    border-radius: 0;
    margin: 0;
    border: none;
 
}
::ng-deep.login.modal-dialog {
    transform: none;
    float: right;
    width: 100%;
    top: -4%;
    background-color: white;
    height: inherit;
    input {
        width: 97%;
        margin-left: 2%;
        border-bottom: none;
    }
    .field {
        border: 1px solid;
    }
    label {
        margin-left: 2%;
        margin-bottom: 2%;
    }
}
.sign-header {
    color: #000000;
    .container {
        border-bottom: 1px solid #000000;
    }
}
.activModal {
    border-bottom: 3px solid black;
    padding-bottom: 2%;
    h2 {
        color: black;
    }
}
.signin {
    h5,
    h6 {
        text-align: center;
    }
    h5 {
        font-size: 22px;
    }
    h6,
    p {
        font-size: 16px;
    }
    h5,
    h6,
    p {
        font-family: "SFCOmpact Regular";
    }
    p {
        float: right;
    }
}
button.signin,
.btn {
    font-size: 15px;
    color: #ffffff;
    background-color: black;
    width: 100%;
    padding: 7px;
    margin-bottom: 5%;
    border: 1px solid black;
    border-radius: 0;
}
::ng-deep.modal-dialog.burgermenu {
::ng-deep.modal-content {
    height: -webkit-fill-available;
}
}
::ng-deep.modal-dialog.burgermenu {
    margin: 0;
}
::ng-deep.modal-header .close {
    padding: 1rem 0rem;
}
::ng-deep.modal-header {
    border-bottom: none;
}
ul {
   
    li {
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .header-lg {
        display: none;
    }
    .img-logo {
        width: 100%;
        height: auto;
    }

    .img-fluid {
        width: 5%;
    }
    .container-header {
        height: 136px;
    }
    .searchM {
        margin-top: -4%;
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        display: none;
    }
    .sign-header {
        h2 {
            font-size: 16px;
            font-family: "SFCOmpact Medium";
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .img-logo {
        width: 100%;
        margin-top: 0;
    }
    .badge-notif {
        margin-left: 20px;
        top: -37px;
    }
    p {
        display: none;
    }
    .nav-menu li {
        font-size: 8px;
    }
}
.sociallogin {
    img {
        width: 16px;
        height: 28px;
        margin-right: 5%;
    }
    button {
        height: 42px;
        width: 200px;
        background: #ededeb;
        border: 1px solid #ededeb;
    }
}
.fa {
    float: right;
    right: 22px;
    top: 38%;
    position: absolute;
}
.fa.register {
    top: inherit;
}
label.control.control-checkbox {
    font-size: 16px;
    color: black;
}
#mdp {
    width: 77%;
}
.selectedSexe {
    border: 1px solid black;
    background-color: black;
    color: #ffffff;
    height: 42px;
    width: 200px;
    margin: 5% 0;
}
.unselectedSexe {
    border: 1px solid #1a1a1a;
    background-color: #ffffff;
    color: #000000;
    height: 42px;
    width: 200px;
    margin: 5% 0;
}
@media screen and (max-width: 575px) {
    .img-logo {
        width: 120px;
        height: 27px;
    }
    .signin {
        margin-top: 3%;
    }
    .btn {
        height: unset;
        width: 100%;
        padding: 7px;
        margin: 10% 0;
    }
    .activModal {
        padding-bottom: 0;
        font-size: 11px;
    }
    .sociallogin button {
        margin: 3% 0;
    }
    .sign-header {
        h2 {
            font-size: 11px;
            padding-top: 12%;
        }
        margin-bottom: 3%;
    }
    #labelSearch {
        width: 72%;
    }
}
.notif-panier {
    font-size: 13px;
    font-family: "SFCOmpact Regular";
    background-color: #f9dbe6;
    margin: 0 auto;
}
.dropdown-menu {
    top: 130% !important;
    width: 308px;
    border-radius: 0;
    font-family: "SFCOmpact Regular";
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 15px;
    }
    .signin {
        padding: 0;
        height: 39px;
        width: 289px;
        margin-top: 5%;
        margin: 0 auto;
    }
    li {
        text-align: justify;
        cursor: pointer;
    }
}
.panier-drop.dropdown-menu.show {
    left: -200% !important;
}
.total {
    text-align: right;
    padding-right: 16%;
}
ul.help-block {
    color: red;
    font-weight: 300;
    font-size: 9px;
    width: 88%;
    padding-left: 0;
}
.activDrop {
    
    right: auto !important;
    transform: translate(-23%, 0) !important;
    height: 506px;
    width: 30%;
    background-color: #FFFFFF;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    position: absolute;
    p {
        font-size: 15px;
        font-family: 'SFCOmpact Regular';
    }
}
.activDropG {
    left: 22% !important;
}
.activDropD {
  left: 62% !important;

}
.activDropC {
    left: 42% !important;
}
.active {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 4%;
}

/* FLOATING LABEL */

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

label,
input {
    transition: all 0.2s;
    touch-action: manipulation;
}

label {
    font-size: 14px;
    color: #b9b9b9;
    margin-bottom: 16px;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    font-family: "SFCOmpact Regular";
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    width: 180px;
    font-size: 18px;
}

.date {
    border-bottom: none;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

input:placeholder-shown + label {
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.2);
}

/**
  * By default, the placeholder should be transparent. Also, it should
  * inherit the transition.
  */

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

/**
  * Show the placeholder when the input is focused.
  */

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

/**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when
  * there's something in the input at all.
  */

input:not(:placeholder-shown) + label,
input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

/* END OF FLOATING LABEL */