<div class="header-lg">
    <div class="container-header" style="background-color: #c5cac6">
        <div class="container header-menu">
            <div class="row">
                <div class="col-md-3">
                    <div class="field">
                    <img class="img-fluid" src="assets/images/logo/search.PNG" alt="kate&you">
                        <input type="text" name="rechercher" id="rechercher" placeholder="   ">
                        <label for="rechercher" id="labelSearch">Rechercher...</label>
                    </div>
                </div>
                <div class="col-md-6 logo-hadeen">
                    <a [routerLink]="['/']"  class="img-logo">
                      </a> 
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-4 account" dropdown>
                            <img src="assets/images/logo/account.svg" dropdownToggle alt="account">
                            <p>Compte</p>
                            <div *dropdownMenu class="dropdown-menu account-drop" role="menu">
                                <ul>
                                    <li>Bonjour {{name}} </li>
                                    <li *ngFor="let menu of menuList" (click)="goTo(menu, loginTemplate)">{{menu}}</li>
                                </ul>
                                <p style="text-align: center; margin-left:0"> Besoin d’aide? Contactez-nous</p>
                            </div>
                        </div>
                        <div class="col-4 account">
                            <img src="assets/images/logo/whishlist.svg" alt="whishlist">
                            <span class="badge-notif" style="background-color: #DC2D4F">12</span>
                            <p>Mes envies</p>
                        </div>
                        <div class="col-4 account" dropdown>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <!-- END OF MODAL -->
    <div class="mainmenu_area" >
        <div class="container">
            <nav id="navigation1" class="navigation">
                <div id="navbar" class="navbar-collapse">
                    <ul class="nav-menu">
                        <li *ngFor="let menu of menuWS; let i = index"><a >{{menu}}</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- LISTING WS -->
<!-- END OF LISTING WS -->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #c5cac6;">
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon" (click)="openModal(burgerMenu)"></span>
    </button>
    <div class="col-6" style="display: flex;  height: auto;">
        <a [routerLink]="['/']" class="img-logo">
          </a> 
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-6 account">
                <img src="assets/images/logo/whishlist.svg" alt="whishlist">
            </div>
            <div class="col-6 account">
                <img src="assets/images/logo/account.svg" alt="panier">
            </div>

        </div>
    </div>
    <div class="col-12 searchM">
        <div class="field">
            <img class="img-fluid" src="assets/images/logo/search.PNG" alt="kate&you">
            <input type="text" name="rechercherM" id="rechercherM" placeholder="   ">
            <label for="rechercherM" id="labelSearch">Rechercher...</label>
        </div>
    </div>
</nav>
<ng-template #burgerMenu>
    <div class="modal-header">
        <div class="container">
            <button type="button" style="margin-right: 10px;" class="close pull-right" aria-label="Close"
                (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="hello-burger pull-left">Bonjour <span style="font-weight: bold;"> {{name}} </span></h4>
        </div>
    </div>
    <div class="modal-body" style="font-family: SFCompactDisplay-Medium;">
        <ul>
            <li *ngFor="let menu of menuList" (click)="goTo(menu, loginTemplate)">{{menu}}</li>
        </ul>
        <ul>
            <li *ngFor="let menu of menuWS" >{{menu}}</li>
        </ul>
    </div>
</ng-template>
<!-- DROPDOWN -->

<!-- END OF DROPDOWN -->
<ng-template #loginTemplate>
    <div class="modal-header sign-header">
        <div class="container">
            <div class="row" style="cursor: pointer;">
                <div class="col-6 {{newClass}}" (click)="newsCustomerBtn()">
                    <h2>Je suis nouveau client</h2>
                </div>
                <div class="col-6 {{accountClass}}" (click)="newsCustomerBtn()">
                    <h2>J'ai déjà un compte</h2>
                </div>
            </div>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="signin" *ngIf="newsCustomer">
            <h5>Bonjour</h5>
            <h6>Se connecter avec votre compte</h6>
            <div class="row sociallogin">
                <div class="col-12 col-md-6 col-sm-6 col-lg-6 text-center">
<!--                     <button (click)="signInWithGoogle()"><img src="assets/static/g.PNG"
                            style="height:16px" alt=""><span>avec
                            Google</span></button>  -->
                            <button><img src="assets/static/g.PNG"
                                style="height:16px" alt=""><span>avec
                                Google</span></button>
                        </div>
                <div class="col-12 col-md-6 col-sm-6 col-lg-6 text-center">
<!--                     <button (click)="signInWithFB()"><img
                            src="assets/static/f.PNG" alt=""><span>avec
                            Facebook</span></button> -->
                            <button><img
                                src="assets/static/f.PNG" alt=""><span>avec
                                Facebook</span></button>
                        </div>
                <div class="col-12">
                    <h6>- ou -</h6>
                </div>
            </div>
            <form>
                <div class="col-12" style="background-color: white;">
                    <div class="field">
                        <input type="text" name="votreemail" id="votreemail" [(ngModel)]="votreEmail" placeholder="   ">
                        <label for="votreemail" id="votreemail">Votre email</label>
                    </div>
                    <div class="field">
                        <span class="fa" (click)="showPassLogin()"><img src="assets\static\{{faLogin}}.png"
                                alt=""></span>
                        <input type="{{signe}}" name="mdp" id="mdp" [(ngModel)]="mdp" placeholder="   ">
                        <label for="mdp" id="mdp">Votre mot de passe</label>
                    </div>
                    <p (click)="goTo('reset-mdp', 'params')" >Mot de passe oublié ?</p>
                    <br>
                    <div class="checking">
                        <label class="control control-checkbox ">Rester connecter
                            <input type="checkbox" id="beSellerID" name="filter" />
                            <div class="control_indicator"></div>
                        </label>
                    </div>
      <!--               <button class="signin" (click)="signIn(votreEmail, mdp)">Se connecter avec votre compte</button> -->
      <button class="signin">Se connecter avec votre compte</button>
                </div>
            </form>
        </div>
        <div class="signin" *ngIf="!newsCustomer">
            <h5>Bonjour</h5>
            <h6>Inscrivez-vous et connectez avec votre compte</h6>
            <div class="row sociallogin">
                <div class="col-12 col-md-6 col-sm-6 col-lg-6 text-center">
<!--                     <button (click)="createsignInWithGoogle()"><img src="assets/static/g.PNG"
                            style="height:16px" alt=""><span>avec
                            Google</span></button> --> 
                            <button><img src="assets/static/g.PNG"
                                style="height:16px" alt=""><span>avec
                                Google</span></button>
                        </div>
                <div class="col-12 col-md-6 col-sm-6 col-lg-6 text-center">
<!--                     <button (click)="signInWithFB()"><img src="assets/static/f.PNG"
                            alt=""><span>avec
                            Facebook</span></button> -->
                            <button><img src="assets/static/f.PNG"
                                alt=""><span>avec
                                Facebook</span></button></div>
                <div class="col-12">
                    <h6>- ou -</h6>
                </div>
            </div>
            <form class="row" [formGroup]="formRegister">
                <div class="col-6 col-md-6 col-sm-6 col-lg-6 text-center " (click)="selectSexe()"><a
                        class="btn {{MselectSexe}}">M</a> </div>
                <div class="col-6 col-md-6 col-sm-6 col-lg-6 text-center " (click)="selectSexe()"><a
                        class="btn {{FselectSexe}}">Mme</a></div>
                <div class="col-12" style="background-color: white;">
                    <div class="form-group"
                        [ngClass]="{'has-error': formRegister.controls.prenom.errors && formRegister.controls.prenom.dirty, 'has-success': formRegister.controls.prenom.valid && formRegister.controls.prenom.dirty }">
                        <div class="field">
                            <input type="text" name="prenom" id="prenom" placeholder="   " formControlName="prenom"
                                autocomplete=off >
                            <label for="prenom" id="prenom">Prénom*</label>
                        </div>
                        <ul class="help-block">
                            <li
                                *ngIf="formRegister.controls.prenom.errors?.required && formRegister.controls.prenom.dirty">
                                Les champs marqués d’une * sont obligatoires</li>
                        </ul>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error': formRegister.controls.nom.errors && formRegister.controls.nom.dirty, 'has-success': formRegister.controls.nom.valid && formRegister.controls.nom.dirty }">
                        <div class="field">
                            <input type="text" name="npm" id="nom" placeholder="   " formControlName="nom"
                                autocomplete=off>
                            <label for="nom" id="nom">Nom*</label>
                        </div>
                        <ul class="help-block">
                            <li *ngIf="formRegister.controls.nom.errors?.required && formRegister.controls.nom.dirty">
                                Les champs marqués d’une * sont obligatoires</li>
                        </ul>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (formRegister.controls.email.errors &&
formRegister.controls.email.dirty) || (!checkMail && formRegister.controls.email.dirty), 'has-success':
formRegister.controls.email.valid && formRegister.controls.email.dirty && checkMail }">
                        <div class="field">
                            <input type="text" name="uremail" id="uremail" placeholder="   " formControlName="email"
                                autocomplete=off >
                            <label for="uremail" id="uremail">Votre email</label>
                        </div>
                        <ul class="help-block">
                            <li
                                *ngIf="formRegister.controls.email.errors?.required && formRegister.controls.email.dirty">
                                Les champs marqués d’une * sont obligatoires</li>
                            <li
                                *ngIf="formRegister.controls.email.errors?.checkMail && formRegister.controls.email.dirty">
                                Veuillez insérer un mail valide</li>
                        </ul>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (formRegister.controls.password.errors &&
formRegister.controls.password.dirty)  || (!checkpw && formRegister.controls.password.dirty),
'has-success': formRegister.controls.password.valid &&
formRegister.controls.password.dirty && checkpw }">
                        <div class="field">
                            <span class="fa register" (click)="showPassLogin()"><img src="assets\static\{{faLogin}}.png"
                                    alt=""></span>
                            <input type="{{signe}}" name="mdpregister" id="mdpregister" placeholder="   "
                                formControlName="password" autocomplete=off>
                            <label for="mdpregister" id="mdpregister">Votre mot de passe</label>
                        </div>
                        <ul class="help-block">
                            <li
                                *ngIf="formRegister.controls.password.errors?.required && formRegister.controls.password.dirty">
                                Les champs marqués d’une * sont obligatoires</li>
                            <li
                                *ngIf="formRegister.controls.password.errors?.checkpw && formRegister.controls.password.dirty">
                                Le mot de passe doit contenir Majuscule, miniscule, chiffre</li>
                        </ul>
                    </div>

                    <div>
                        <p style="text-align: justify;font-size: 12px;float: inherit;">Le mot de passe doit contenir
                            Majuscule, miniscule, chiffre</p>
                        <h6 style="    text-align: justify;">Les champs marqués d’une * sont obligatoires</h6>
<!--                         <div class="checking">
                            <label class="control control-checkbox ">Je souhaite recevoir par e-mail les remises et
                                astuces
                                de la Brigade Accueil
                                <input type="checkbox" id="emailnewsletter" name="filter" [checked]="newsL"
                                    (change)="checknewl($event)" />
                                <div class="control_indicator"></div>
                            </label>
                        </div> -->
                        <div class="checking">
                            <label class="control control-checkbox ">J'accepte les conditions générales et la
                                <span style="text-decoration: underline;">politique de confidentialité</span>
                                <input type="checkbox" id="cgu" name="cgu" [checked]=true readonly />
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                  <!--   <button class="signin" (click)="createAccount()" [disabled]="!checkMail">Créer mon compte</button> -->
                  <button class="signin" [disabled]="!checkMail">Créer mon compte</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
