/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat-palette($mat-indigo);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-theme: mat-light-theme($angular-primary, $angular-accent, $angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: "SFCOmpact Regular";
}
body {
    margin: 0;
    align-items: flex-start;
    font-family: "SFCOmpact Regular";
}

/* FONT */
@font-face {
    font-family: "SFCOmpact Semibold";
    src: url("/assets/font/SFCompactDisplay-SemiBold.otf");
}
@font-face {
    font-family: "SFCOmpact bold";
    src: url("/assets/font/SFCompactDisplay-Bold.otf");
}
@font-face {
    font-family: "SFCOmpact Regular";
    src: url("/assets/font/SFCompactDisplay-Regular.otf");
}
@font-face {
    font-family: "SFCOmpact Medium";
    src: url("/assets/font/SFCompactDisplay-Medium.otf");
}
@font-face {
    font-family: "DIN Bold";
    src: url("/assets/font/DINPro Bold.otf");
}
@font-face {
    font-family: "DINPro-Medium";
    src: url("/assets/font/DINPro Medium.otf");
}

@font-face {
    font-family: "FreestyleScript";
    src: url("/assets/font/FREESCPT.TTF");
}

.badge-notif {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 70%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    background-color: #131313;
    margin-left: -6px;
    color: white;
    position: relative;
    top: 4px;
}
/* CHECKBOX */

.control-group {
    width: 50%;
}

.control.control-checkbox:active {
    label {
        color: #131313;
    }
}

.control {
    font-family: "SFCOmpact Regular";
    font-weight: 300;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 1px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ffffff;
}

.control-radio .control_indicator {
    border-radius: none;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: black;
}

.control input:checked:focus ~ .control_indicator {
    background: black;
}

.control_indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #f5eded;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* FIN CHECKBOX */

ul {
    list-style-type: none;
}
.header {
    font-family: "SFCOmpact Regular";
    font-weight: 300;
    font-size: 16px;
    color: #606060;
    cursor: pointer;
    ul.breadcrumb {
        padding: 10px;
        background-color: inherit;
    }
    ul.breadcrumb li {
        display: inline;
    }
    ul.breadcrumb li + li:before {
        padding: 7px;
        content: ">";
    }
    li a {
        font-weight: 300;
        font-size: 16px;
        color: #606060;
        cursor: pointer;
    }
    ul.breadcrumb > li {
        padding: 0;
        font-family: "SFCOmpact Regular";
        text-transform: none;
        margin: 0;
    }
    ul.breadcrumb > li:after {
        border-bottom: none;
    }
}

.selectpicker {
    padding: 6px;
    margin-left: 6px;
    border: 1px solid;
}
.filtre {
    position: fixed;
    z-index: 13;
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
    width: 80%;
    margin-left: 6%;
    display: flex;
    bottom: 2%;
    position: fixed;
    button {
        background-color: #222;
        color: #fff;
        border: 0.5px solid #222;
        height: 20%;
        max-width: 14rem;
        min-width: 6rem;
        font-size: 12px;
        margin: auto;
        padding: 0 2.4rem;
        text-overflow: ellipsis;
        cursor: pointer;
    }
}
.validate {
    color: #f7f9f6;
    font-size: 15px;
    background-color: black;
    border: 1px solid black;
    text-transform: uppercase;
    width: 100%;
    padding: 2%;
    text-align: center;
}
@media screen and (max-width: 575px) {
    .top-header li,
    .header li a,
    .header ul.breadcrumb > li {
        font-size: 15px;
    }
    .col-12 {
        margin-bottom: 6%;
    }
}
.star {
    font-size: 1.5rem;
    color: #cccccc;
}
.filled {
    color: #f8b53e;
}
.fo:hover {
    content: url("/assets/images/red--heart.svg");
}
